.job-posting h1 {
  margin-bottom: 1rem;
}

.job-posting .has-icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.job-posting .has-icon:not(:last-child) {
  border-right: 1px solid var(--transparent-grey-light-color);
  padding-right: 1.5rem;
}

.job-posting .hero-career-info p,
.job-posting .hero-career-info .has-icon p {
  margin: 0;
  padding: 0;
  color: var(--gray);
}

.job-posting .icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
}

.job-posting span.icon-globe {
  background-image: url('/icons/globe.svg');
}

.job-posting span.icon-work {
  background-image: url('/icons/work.svg');
}

.job-posting span.icon-time {
  background-image: url('/icons/time.svg');
}

.job-posting .hero-career-info {
  display: flex;
  gap: 1rem 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.job-posting a.button.primary.linkedin {
  background-color: var(--white);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  transition: opacity 0.15s ease-in-out;
}

.job-posting span.icon-linkedin {
  margin-left: 0.625rem;
  height: 2rem;
  width: 2.125rem;
}

.job-posting a.button.primary.linkedin:hover {
  opacity: 0.7;
}
