.job-posting .has-icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0 0 1.25rem;
}

.job-posting .has-icon p {
	margin: 0;
	padding: 0;
}

.job-posting .icon {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-size: cover;
}

.job-posting span.icon-globe {
  background-image: url('/icons/globe.svg');
}

.job-posting span.icon-work {
  background-image: url('/icons/work.svg');
}

.job-posting span.icon-time {
  background-image: url('/icons/time.svg');
}

.hero-career-info {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
}

.job-posting a.button.primary.linkedin {
    background-color: var(--white);
    color: var(--secondary);
	border: 1px solid var(--secondary);
    padding-left: 2.5rem;
}

.job-posting span.icon-linkedin {
    margin-left: 0.625rem;
    margin-right: 1rem;
    height: 2rem;
    width: 2.125rem;
}

.job-posting a.button.primary.linkedin:hover {
    opacity: 0.7;
}